body {
  font-family: 'Open+Sans', sans-serif;
  max-width: 500px;
  margin: 0 auto;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  padding: 15px;
  border-left: solid;
  border-width: 1px;
}

.navigation {
  border: none;
  left: 0;
}

.friend{
  padding: 10px;
  background-color: #eee;
  margin: 20px 0 20px 0;
  width: 80%;
}

.main {
  right: 0;
}

.messages {
  margin-bottom: 20px;
}

.out-message {
  padding: 5px;
  background-color: lightblue;
}

.in-message {
  padding: 5px;
  background-color: lightseagreen;
}